.idea/
*.iml

# Ignore test coverage files
c.out
coverage.xml

#ignore junit files
junit.output
junit.xml

# Temporary directory to store the CyberArk proxy CA certificate
build_ca_certificate/

# Ignore generated policy files and manifests
deploy/policy/generated/*
deploy/dev/config/k8s/*.yml
