# kics-scan ignore - Kics incorrectly identifies the Conjur secret paths as hardcoded values
apiVersion: v1
kind: Secret
metadata:
  name: test-k8s-secret
  labels:
    conjur.org/managed-by-provider: "true"
type: Opaque
stringData:
  conjur-map: |-
    secret: secrets/test_secret
    ssh_key: secrets/ssh_key
    json_object_secret: secrets/json_object_secret
    var_with_spaces: secrets/var with spaces
    var_with_pluses: secrets/var+with+pluses
    var_with_umlaut: secrets/umlaut
    var_with_base64:
      id: secrets/encoded
      content-type: base64
  non-conjur-key: some-value

---
apiVersion: v1
kind: Secret
metadata:
  name: test-k8s-secret-fetch-all
  labels:
    conjur.org/managed-by-provider: "true"
type: Opaque
stringData:
  conjur-map: |-
    "*": "*"
  non-conjur-key: some-value

---
apiVersion: v1
kind: Secret
metadata:
  name: test-k8s-secret-fetch-all-base64
  labels:
    conjur.org/managed-by-provider: "true"
type: Opaque
stringData:
  conjur-map: |-
    "*":
      id: "*"
      content-type: base64
  non-conjur-key: some-value

---
apiVersion: v1
kind: Secret
metadata:
  name: test-k8s-secret-no-label
type: Opaque
stringData:
  non-conjur-key: some-value

---
apiVersion: v1
kind: Secret
metadata:
  name: test-k8s-secret-false-label
  labels:
    conjur.org/managed-by-provider: "false"
type: Opaque
stringData:
  non-conjur-key: some-value

---
apiVersion: v1
kind: Secret
metadata:
  name: test-k8s-secret-with-templates
  labels:
    conjur.org/managed-by-provider: "true"
  annotations:
      conjur.org/conjur-secrets.example.1: |
        - username: secrets/username
        - password: secrets/password
        - test: secrets/test_secret
      conjur.org/secret-file-template.example.1: |
        username | {{ secret "username" }}
        password | {{ secret "password" }}
        test | {{ secret "test" }}
      conjur.org/conjur-secrets.example.2: |
        - ssh: secrets/ssh_key
        - json: secrets/json_object_secret
      conjur.org/secret-file-template.example.2: |
        ssh key example | {{ secret "ssh" }}
        json example | {{ secret "json" }}
type: Opaque
stringData:
  conjur-map: |-
    var_with_spaces: secrets/var with spaces
    var_with_pluses: secrets/var+with+pluses
  non-conjur-key: some-value
