#!/bin/bash

set -euo pipefail
cat << EOL
# Should be loaded into data
- !policy
  id: secrets
  body:
    - &variables
      - !variable test_secret
      - !variable ssh_key
      - !variable json_object_secret
      - !variable another_test_secret
      - !variable var with spaces
      - !variable var+with+pluses
      - !variable umlaut
      - !variable encoded
      - !variable url
      - !variable username
      - !variable password

    - !permit
      resources: *variables
      role: !host /data/system:serviceaccount:${APP_NAMESPACE_NAME}:${APP_NAMESPACE_NAME}-sa
      privileges: [ read, execute ]
    
    - !permit
      resources: *variables
      role: !host /data/system:serviceaccount:${APP_NAMESPACE_NAME}:default
      privileges: [ read, execute ]
EOL
