#!/bin/bash

set -euo pipefail
cat << EOL
---
# This policy defines a layer of whitelisted identities permitted to authenticate to the authn-k8s endpoint.
# This policy is needed for both DEV and TEST environments
- !policy
  id: conjur/authn-k8s/${AUTHENTICATOR_ID}/apps
  annotations:
    description: Identities permitted to authenticate via authn-k8s
  body:
    - !layer
      annotations:
        description: Layer of authenticator identities permitted to call authn-k8s svc
    - &hosts
      - !host
        id: ${APP_NAMESPACE_NAME}/*/*
        annotations:
          kubernetes/authentication-container-name: cyberark-secrets-provider-for-k8s

      # This host will not have permissions on Conjur secrets to test this use-case
      - !host
        id: ${APP_NAMESPACE_NAME}/service_account/${APP_NAMESPACE_NAME}-sa
        annotations:
          kubernetes/authentication-container-name: cyberark-secrets-provider-for-k8s

    - !grant
      role: !layer
      members: *hosts


- !policy
  id: conjur/authn-jwt/${AUTHENTICATOR_ID}/apps
  annotations:
    description: Identities permitted to authenticate via authn-jwt
  body:
    - !layer
      annotations:
        description: Layer of authenticator identities permitted to call authn-jwt svc
    - &jwt_hosts
      - !host
        id: system:serviceaccount:${APP_NAMESPACE_NAME}-sa
        annotations:
          authn-jwt/${AUTHENTICATOR_ID}/kubernetes.io/namespace: ${APP_NAMESPACE_NAME}
          authn-jwt/${AUTHENTICATOR_ID}/kubernetes.io/serviceaccount/name: ${APP_NAMESPACE_NAME}-sa

    - !grant
      role: !layer
      members: *jwt_hosts

- !policy
  id: conjur/authn-iam/${AUTHENTICATOR_ID}/apps
  annotations:
    description: Identities permitted to authenticate via authn-iam
  body:
    - !layer
      annotations:
        description: Layer of authenticator identities permitted to call authn-iam svc
    - &iam_hosts
      - !host
        id: 601277729239/InstanceReadJenkinsExecutorHostFactoryToken

    - !grant
      role: !layer
      members: *iam_hosts

- !policy
  id: conjur/authn-azure/${AUTHENTICATOR_ID}/apps
  annotations:
    description: Identities permitted to authenticate via authn-azure
  body:
    - !layer
      annotations:
        description: Layer of authenticator identities permitted to call authn-azure svc
    - &azure_hosts
      - !host
        id: azureVM

    - !grant
      role: !layer
      members: *azure_hosts

- !policy
  id: conjur/authn-gcp/apps
  annotations:
    description: Identities permitted to authenticate via authn-gcp
  body:
    - !layer
      annotations:
        description: Layer of authenticator identities permitted to call authn-gcp svc
    - &gcp_hosts
      - !host
        id: test-app
        annotations:
          authn-gcp/project-id: ${GCLOUD_PROJECT_NAME}
    
    - !grant
      role: !layer
      members: *gcp_hosts
EOL
